asgiref==3.2.10
dj-database-url==0.5.0
Django==3.0.8
django-cors-headers==3.4.0
django-enumchoicefield==2.0.0
django-enumfields==2.0.0
django-filter==2.3.0
django-sslserver==0.22
django-tinymce==3.0.2
djangorestframework==3.11.0
docutils==0.16
drf-enum-field==0.9.3
jsonfield==3.1.0
numpy==1.19.0
Pillow==7.2.0
psycopg2-binary==2.7.5
pytz==2020.1
sqlparse==0.3.1
whitenoise==5.2.0
gunicorn==20.0.4
coreapi=2.3.3
drf-yasg=1.20.0

