.bdg-container{
	position: relative;
}
.bdg-container > div{
    font-size: 30px;
    padding: .5em;
    margin: .5em;
    text-align: center;
    width:90%;
    font-size:calc(1em + 1vw);
}
.bdg-container > div > img{
    width: 25%;
    
    -webkit-transition: .15s;
    transition: .15s; 
    padding-top:calc(30px + 6vw);
}