.bdg-container{
	position: relative;
    padding-bottom: 90px;
    animation: opacityOn 5s normal forwards;
    opacity: 0;
    animation-delay: 1s;
    left: -100px;
}

@keyframes opacityOn {
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

.bdg-container > div{
    font-size: 30px;
    padding: .5em;
    margin: .5em;
    text-align: center;
    width:90%;
    font-size:calc(1em + 1vw);
}
.bdg-container > div > img{
    width: 25%;
    
    -webkit-transition: .15s;
    transition: .15s; 
    padding-top:calc(30px + 6vw);
}