.chl-container{
    position: relative;
    padding-bottom: 90px;
}
.chl-container > div{
        font-size: 30px;
        margin: .5em;
        background: white;
        text-align: center;
        height:190px;
        font-size:2vw;
}

/* For Firefox */
/*progress::-moz-progress-bar {
    background-color: #fffff;
}
*/
/* For Chrome or Safari */
/*progress::-webkit-progress-value {
    background: green;
}
*/
/* For IE10 */
/*progress {
    background: green;
}*/
body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown), html.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) { height: 100%% !important; overflow-y: visible !important; }