.dvt-container{
    position: relative;
}
.dvt-container > div{
        font-size: 30px;
        padding: .5em;
        margin: .5em;
        text-align: center;
        width:90%;
        font-size:calc(1rem + 1.2vw);
}
.dvt-container > div > img{
        width: 25%;
        height: 25%;
        -webkit-transition: .15s;
        transition: .15s; 
    }

.dvt-container > div > div > img{
        width: 12%;
        height: 12%;
        cursor: pointer;
        -webkit-transition: .15s;
        transition: .15s; 
    }

.dvt-container > div > div > img:hover{
     -webkit-transform: scale(1.3); 
      transform: scale(1.3);
  }