.egg-container{
    position: relative;
    padding: bottom: calc(30px + 10vw);
}
.egg-container > div{
        font-size: 30px;
        padding: .5em;
        margin: .5em;
        text-align: center;
        width:90%;
        font-size:calc(1em + 1vw);
}
.egg-container > div > img{
        width: 25%;
        height: 60%;
        -webkit-transition: .15s;
        transition: .15s; 
    }
