
.gft-container{
    position: relative;
    top:-12px;
    padding-bottom: 90px;
    animation: opacityOn 5s normal forwards;
    opacity: 0;
    animation-delay: 1s;
}

@keyframes opacityOn {
    100% {
        opacity: 1;
    }
}
.gft-container > div{
        padding: 1.5em;
        padding-bottom:0;
        margin: .5em;
        text-align: center;
        width:80%;
        font-size:calc(1.5rem + 1.5vw);
}
.gft-container > div > img{
        width: 25%;
        height: 25%;
        -webkit-transition: .15s;
        transition: .15s; 
    }
