
      #v-grid-dynamic_index {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 10fr));
      }
      #v-grid-dynamic_index > div {
        font-size: 30px;
        margin: .5em;
        background: whitesmoke;
        text-align: center;
        height:190px;
      }

    #h-grid-dynamic_index {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    #h-grid-dynamic_index > div {
        font-size: 30px;
        padding: .5em;
        margin: .5em;
        text-align: center;
        width:100px;
        height:100px;
    }

    #h-grid-dynamic_index > div > img{
        width: 100%;
        height: 100%;
        cursor: pointer;
        -webkit-transition: .15s;
        transition: .15s; 
    }

    #h-grid-dynamic_index > div > img:hover{
         -webkit-transform: scale(1.3); 
          transform: scale(1.3); 
    }

  /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
        min-width: 340px;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-content > div {
        text-align:center;
    }


    .modal-content > div > div{
        text-align:center;
    }

    .modal-content > div > div > img{
        margin:20px;
        width: 200px;
        height: :200px;
    }
