
.lvl-container{
    position: relative;
    padding-bottom: 90px;
    opacity: 0;
    animation-delay: 1s;
}

@keyframes opacityOn {
    100% {
        opacity: 1;
    }
}
.lvl-container > div{
        font-size: 30px;
        padding: .5em;
        margin: .5em;
        text-align: center;
        width:90%;
        font-size:calc(1.1em + 1.1vw);
}
.lvl-container > div > img{
        width: 25%;
        height: 60%;
        -webkit-transition: .15s;
        transition: .15s; 
    }