
.pnt-container{
    position: relative;
}
.pnt-container > div{
        font-size: 30px;
        padding: .5em;
        margin: .5em;
        text-align: center;
        width:90%;
        font-size:3vw;
}
.pnt-container > div > img{
        width: 25%;
        height: 60%;
        -webkit-transition: .15s;
        transition: .15s; 
    }