
.sst-container{
    position: relative;
     padding-bottom: 90px;
    opacity: 0;
    animation-delay: 1s;
}

@keyframes opacityOn {
    100% {
        opacity: 1;
    }
}
.sst-container > div{
        font-size: 30px;
        padding: .5em;
        margin: .5em;
        padding-top:20px;
        text-align: center;
        width:100%;
        font-size:calc(1em + 1vw);
}
.sst-container > div > img{
        width: 25%;
        height: 25%;
        -webkit-transition: .15s;
        transition: .15s; 
    }