
.unk-container{
    position: relative;
    padding-top:30px;
    padding-bottom: 90px;
    opacity: 0;
    animation-delay: 1s;
}

@keyframes opacityOn {
    100% {
        opacity: 1;
    }
}
.unk-locked-content{
	background:red;
    z-index:2;
    width:300px;
    height:200px;
    left: 0;
    top: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color:  rgba(255, 255, 255, 0);
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0);

  padding: 20px;
  font-size: 30px;
  text-align: center;
}
