<!DOCTYPE html>
<html>
<head>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<style>
p {
  margin-left:30px;
}
</style>
<br>
<h1 style="text-align:center;">Gamer Profile Test</h1>
{% if not experimental %}
	{% if not existing_user %}
	<div id = "form" style="text-align:center;">
	<input type="text" class="form-control" style="margin:5vw;width:90%;" placeholder="username..." id="uname_input"></input>
	<br>
	<input type="number" step="0.001" id="Disruptor" min="0" max="1"></input>
	<input type="number" step="0.001" id="Free Spirit" min="0" max="1"></input>
	<input type="number" step="0.001" id="Achiever" min="0" max="1"></input>
	<input type="number" step="0.001" id="Player" min="0" max="1"></input>
	<input type="number" step="0.001" id="Socializer" min="0" max="1"></input>
	<input type="number" step="0.001" id="Philantropist" min="0" max="1"></input>
	<input type="number" step="0.001" id="No Player" min="0" max="1"></input>
	<button onclick="create_user('undefined','C', 'undefined')" class="btn btn-primary">Create User</button>
	</div>
	<hr>
	{% else %}
	<h3 style="text-align:center;">GProfile Evolution of {{user}}</h3>

	<div id="existing"><param id="uname_input" value="{{user}}"></div>
	{% endif %}
	<div style="text-align:center;"><button type="button" class="btn btn-primary" onclick="startBot()">Start Bot</button></div>
  	<br>
{% else %}
	<br><br>
	<input type="text" class="form-control" style="margin:5vw;width:90%;" placeholder="Key name for the experiment..." id="key_name_input"></input>
	<div style="text-align:center;">
		<button type="button" class="btn btn-primary" onclick="startExperiment()">Start Experiment</button> 
		<button type="button" class="btn btn-primary" onclick="startBot()">Start Bot</button>
		<button type="button" id="download-results-button" class="btn btn-primary" onclick="download_results()" disabled>Download Results</button>
	</div>
  	<br>
{% endif %}

	<div id='graph-div'></div>
  	<div style="background:whitesmoke; overflow: scroll; height: 500px; font-size:12px;" id ="logs"></div>

<script>

var count = 0;
var colors = ['red', 'green', 'blue','purple','pink','orange','gray'];
var traces = ['Disruptor', 'Free Spirit', 'Achiever','Player','Socializer','Philantropist', 'No Player'];
//fun = (x ,k) => (Math.sin(k*x/(2*Math.PI)))
var global_uname;
var data = [];

function adjustValue(idx,value_x,value_y) {

    data[idx]['x'].unshift(value_x); 
    data[idx]['y'].unshift(value_y); 
    Plotly.redraw('graph-div');
}

function updateLogs(message){
  document.getElementById("logs").innerHTML += "<p>" + message + "</p>";
  document.getElementById("logs").scrollTo(0, document.getElementById("logs").scrollHeight);
}

var num_bots = 0;
function startBot(){
    window.open("https://agmodule.herokuapp.com/preview/g_mechanics/20/?dynamic_index=bot&user=" + global_uname,"","width=600,height=600");
    num_bots++;
    updateLogs("Bot number " + num_bots + " created");
}

function init_statistics(){
  //alert(document.getElementById("uname_input").value);

  for (var i = 0; i < traces.length;i++){
    //alert(traces[i]);
    
    {% if not existing_user %}
    data.push({
        x: [0], // in reality I have more values... 
        y: [document.getElementById(traces[i]).value], 
        type: 'scatter',
        name: traces[i],
        line: {
          color: colors[i],
        },
    });
    {% else %}
    data.push({
        x: [0], // in reality I have more values... 
        y: [], 
        type: 'scatter',
        name: traces[i],
        line: {
          color: colors[i],
        },
    });
    {% endif %}
  }
  Plotly.newPlot('graph-div', data);
  var timer = setInterval(function() {
    count++;
    var new_values = [];
    fetch('https://agmodule.herokuapp.com/api/gamers/'+ document.getElementById("uname_input").value + "/")
    .then(response => response.json())
    .then(function(data){
      new_values.push(data.gamer_profile.disruptor);
      new_values.push(data.gamer_profile.free_spirit);
      new_values.push(data.gamer_profile.achiever);
      new_values.push(data.gamer_profile.player);
      new_values.push(data.gamer_profile.socializer);
      new_values.push(data.gamer_profile.philantropist);
      new_values.push(data.gamer_profile.no_player);
      updateLogs("Gamer profile graph updated");
      for (var i = 0; i < traces.length;i++){
        updateLogs("&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;" + (1+i) + " :: " + (Math.round(new_values[i]*1000))/1000);
        adjustValue(i,count,new_values[i]);
      } 
    });
    
  }, 10000, "JavaScript");
}

{% if not experimental %}
	{% if not existing_user %}
	traces.forEach(function(item,index){
	  document.getElementById(item).onblur = function(){
	    if(document.getElementById(item).value < 0){
	      document.getElementById(item).value = 0;
	    }
	    if(document.getElementById(item).value > 1){
	      document.getElementById(item).value = 1;
	    }
	  }
	});
	{% else %}

	init_statistics();

	{% endif %}

{% else %}
	console.log("Experimental mode")
	//--------------------------------------------------------------------------------------------
	//EXPERIMENT
	//--------------------------------------------------------------------------------------------
	// Select ::
	//		PT0 -> Initial Player Type (From most common answers of Marczewski)
	//		RPT0 -> Initial Bot profile (Near = Accurate Test Answer, Far = Random Test answer)
	//		case -> A | B1a | B1b | B2a | B2b | C1a | C1b | C2a | C2b 
	// 		Bot-args -> (name, interactivity, T+, T-)
	// 		Sim-args -> (t-, t+, step, err)
	// Create -> User :: User-args -> (PT0, case, name)
	// Start -> Simulation :: <Bot Execution>
	// While [Simulation] -> Store ::
	//		User PT Evolution
	//		Displayed Mechanics + Timestamp
	//Compute and Store ::
	//		Err(t)
	//		Err
	//		Var(t)
	//		Mean_Var
	//---------------------------------------------------------------------------------------------

{% endif %}

/*function performExperiment(){
		args = select_experiment();
		user = create_user(args['PT0'], args['case'], args['name']);
		sim = start_simulation(args['name'], args['interactivity'], args['T+'], args['T-'], args['t+'], args['t-'], args['step'], args['err'])

}*/

constants = {
	"PT0s" : [
				[0.1,0.1,0.1,0.1,0.1,0.1,0.1],
				[0.1,0.2,0.1,0.1,0.2,0.2,0.1],
				[0.1,0.3,0.1,0.1,0.3,0.3,0.1],
				[0.1,0.4,0.1,0.1,0.4,0.4,0.1],
				[0.1,0.5,0.1,0.1,0.5,0.5,0.1],
				[0.1,0.6,0.1,0.1,0.6,0.6,0.1]
					
			],
	"cases" : ['A', 'B1a', 'B2a', 'B1b', 'B2b', 'C1a', 'C2a', 'C1b', 'C2b'],
	"interactivities" : [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1],
	"bot_accuracies" : ["low", "high"], 
	"T+" : (x) => (10),
	"T-" : (x) => (-2.5*x + 3),
	"t-" : 0,
	"t+" : 0.1, //in minutes
	"step" : 16, // in seconds
	"err" : 0.1 
}

dot = (a, b) => a.map((x, i) => a[i] * b[i]).reduce((m, n) => m + n);

function select_far_rpt0(pt0){
	m = 0;
	who = pt0;
	constants['PT0s'].forEach(function(item,index){
		dist = Math.sqrt(dot(item,pt0));
		if(dist > m){
			m = dist;
			who = item;
		}
	});
	return who;
}

function initExperiment(){

	experiments = [];
	constants["PT0s"].forEach(function(pt0,pt0_idx){
		constants["cases"].forEach(function(cs,cs_idx){
			constants["interactivities"].forEach(function(inter,inter_idx){
				constants["bot_accuracies"].forEach(function(acc,acc_idx){
					if(acc == "low"){
						rpt0 = select_far_rpt0(pt0);
					}else{
						rpt0 = pt0
					}
					experiments.push({"PT0" : pt0, "PT0_index" : pt0_idx, "RPT0" : rpt0, "case" : cs, "interactivity" : inter, "accuracy" : acc});
				});
			});
		});
	});
	return experiments;
}

function init_parametric_statistics(pt0, username){
  //alert(document.getElementById("uname_input").value);

  for (var i = 0; i < traces.length;i++){
    data.push({
        x: [0], 
        y: [pt0[i]], 
        type: 'scatter',
        name: traces[i],
        line: {
          color: colors[i],
        },
    });
  }

  Plotly.newPlot('graph-div', data);
  var timer = setInterval(function() {
    count++;
    var new_values = [];
    fetch('https://agmodule.herokuapp.com/api/gamers/'+ username + "/")
    .then(response => response.json())
    .then(function(data){
      new_values.push(data.gamer_profile.disruptor);
      new_values.push(data.gamer_profile.free_spirit);
      new_values.push(data.gamer_profile.achiever);
      new_values.push(data.gamer_profile.player);
      new_values.push(data.gamer_profile.socializer);
      new_values.push(data.gamer_profile.philantropist);
      new_values.push(data.gamer_profile.no_player);
      updateLogs("Profile data fetch :: " + username);
      for (var i = 0; i < traces.length;i++){
        updateLogs("&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; PT(t)-" + i + " :: " + (Math.round(new_values[i]*1000))/1000);
        adjustValue(i,count,new_values[i]);
      } 
    });
    
  }, constants["step"]*1000, "JavaScript");
}

function start_parametric_bot(username, rpt0){
	bot_window = window.open("https://agmodule.herokuapp.com/preview/g_mechanics/20/" ,"","width=600,height=600");
    console.log(bot_window);
    num_bots++;
    updateLogs("New Bot created :: " + username + ".");
    updateLogs("Total number of bots :: " + num_bots + ".");
    return bot_window;
}

results = [];

function startExperiment(){
	updateLogs("Starting Simulation.");
	experiments = initExperiment();
	document.getElementById("download-results-button").disabled = false;
	total_exps = experiments.length;
	updateLogs("Experimental cases created.");
	count = 0;
	to_store = {}; 
	bot_window = undefined;
	experiment_timer = setInterval(function() {
        //console.log(tmp_main_t / 100);
        if(Object.keys(to_store).length > 0){
        	//update store
        	to_store["evolution"] = data;
        	//save store
        	results.push(to_store);
        	//clear store and bot counter
        	to_store = {};
        	Plotly.purge("graph-div");
        	data = [];
        	console.log("Bot window closing :: " + bot_window);
        	bot_window.close();
        	if(num_bots > 0){
        		num_bots--;
        	}
        }
        updateLogs("Simulation Progress :: " + count + " / " + total_exps  + " experiments realized.");
        exp = experiments.pop();
        count++;
        uname = "exp-" + document.getElementById("key_name_input").value + 
        		"-" + count + 
        		"-" + exp["PT0_index"] + 
        		"-" + exp["case"] + 
        		"-" + exp["interactivity"] + 
        		"-" + exp["accuracy"];
        global_uname = uname;
        create_user(exp["PT0"], exp['case'], uname);

        startBot();
        //bot_window = start_parametric_bot(uname, exp["RPT0"]);

        console.log("Bot window openening :: " + bot_window);

        init_parametric_statistics(exp["PT0"], uname);

        to_store["username"] = uname;
       	to_store["experiment"] = exp;
        to_store["index"] = count;

    }, (constants["t+"] - constants["t-"])*60*1000, "JavaScript"); // Measure in milisecond
}


function create_user(pt0,exp_group, username){
    // POST request using fetch() 

    pt00 = pt0[0];
    pt01 = pt0[1];
    pt02 = pt0[2];
	pt03 = pt0[3];
	pt04 = pt0[4];
	pt05 = pt0[5];
	pt06 = pt0[6];  
    uname = username;

    console.log(pt0);
    if(pt0 == "undefined"){
    	console.log("WHAT?");
    	pt00 = document.getElementById("Disruptor").value;
	    pt01 = document.getElementById("Free Spirit").value;
	    pt02 = document.getElementById("Achiever").value;
		pt03 = document.getElementById("Player").value;
		pt04 = document.getElementById("Socializer").value;
		pt05 = document.getElementById("Philantropist").value;
		pt06 = document.getElementById("No Player").value;  
		uname = document.getElementById("uname_input").value;
    }


  fetch("https://agmodule.herokuapp.com/api/gamers/", { 
        
      // Adding method type 
      method: "POST", 
        
      // Adding body or contents to send 
      body: JSON.stringify({
        user: {
            username: uname,
            email: ""
        },
        social_profile: {
            image: "art",
            description: "Description...",
            data: {}
        },
        gamer_profile: {
            disruptor: 		pt00,
            free_spirit: 	pt01,
            achiever: 		pt02,
            player: 		pt03,
            socializer: 	pt04,
            philantropist: 	pt05,
            no_player: 		pt06,
            data: JSON.stringify({
            	"level":0,
            	"score":0,
            	"$":0,
            	"badges":[],
            	"unlockables":[],
            	"challenges":[], 
            	"gifts" : [], 
            	"accessible_mechanics" : [], 
            	"case" : exp_group  // Case selection
            	})
        },
        emotion_profile: {
            valence: 0,
            arousal: 0
        }
    }), 
        
      // Adding headers to the request 
      headers: { 
          "Content-type": "application/json; charset=UTF-8"
      } 
  }) 
    
  // Converting to JSON 
  .then(response => response.json()) 
    
  // Displaying results to console 
  .then(json => console.log(json))
 .catch(error => (console.log("Error: " + error))); 

}

function download_results(){
	downloadObjectAsJson(results, "experimental-results");
}

function downloadObjectAsJson(exportObj, exportName){
    var dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(exportObj));
    var downloadAnchorNode = document.createElement('a');
    downloadAnchorNode.setAttribute("href",     dataStr);
    downloadAnchorNode.setAttribute("download", exportName + ".json");
    document.body.appendChild(downloadAnchorNode); // required for firefox
    downloadAnchorNode.click();
    downloadAnchorNode.remove();
  }
</script>

</body>
</html>
